/* Write Your CSS Below 
Colors: 
- rgb(243, 183, 106)
- yellow
- rgb(241, 117, 0)
- red
- rgb(13, 110, 0)
- rgb(109, 0, 251)
- rgb(219, 255, 57)
- rgb(116, 201, 241)
- rgb(251, 64, 64)

Sizes: 
- 100%
- 70%
- auto
- 1.5em
- 3rem
- .5em

Font: 
- Copperplate (You can also use any font that you'd like!)

Images: 
- "https://i.pinimg.com/236x/d6/3f/56/d63f563519df0ece564b82c72e9e306c.jpg"
    - (You may use any image you would like for the background!)
*/
body {
    background-image: url("https://i.pinimg.com/236x/d6/3f/56/d63f563519df0ece564b82c72e9e306c.jpg");
    background-size: cover;
    width: 50%;
    margin: 0 auto;
}

h1 {
    color: #7A57ED;
    text-decoration: underline;
    background-image: linear-gradient(#7fbde2, #ED4748);
    align-items: center;
    text-align: center;
    text-shadow: 2px 2px 5px yellow;
    border-radius: 12px;
    padding: 1.25rem;
}

#row2 {
    text-align: right;
}

#jordans-1 {
    border-right: .25rem solid blue;
    border-top: .1rem solid blue;
    border-bottom: .1rem solid blue;
}

#jordans-2 {
    object-fit: cover;
    border-left: .25rem solid red;
    border-top: .1rem solid red;
    border-bottom: .1rem solid red;
}


#row1-section2 {
    padding: .2rem;
    margin-top: .75rem;
    margin-bottom: 1rem;
    background-color: #74C9F1;
    color: white;
    border: 3px solid #EF5E30;
    border-radius: 7px;
    align-items: center;
    text-align: justify;    
}

#row2-section2 {
    display: inline-block;
    padding: .2rem;
    background-color: #ED473E;
    color: white;
    border: 3px solid darkgreen;
    border-radius: 7px;
    align-items: center;
    text-align: justify;
}

#row1, #row2 {
    font-family: Copperplate;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

#jordans-2-desc, #jordans-1-desc {
    margin: 0.6rem;
}